*{
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}
body {
  background: #ffffff;
}

/* Header Styling */
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(142, 172, 205, 0.7),rgba(4,9,30,0.7));
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Slide show images styling */
.headerImage {
  object-fit: cover;
  position: relative;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  
}

/* Style for tab */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8EACCD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Navigation Links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* Hover effect */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Close button */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Text area Styling */
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
  transition: 1s;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #ffffff;
  transition: 0.5s;
}

/* Description Styling */
.description {
  text-align: center;
  padding-top: 150px;                                                                                     
  padding-left: 56px;                                                                                     
  padding-right: 36px;                                                                                    
  padding-bottom: 56px;                                                                                   
  line-height: 200%;                                                                                      
  font-size: 19px;                                                                                        
  letter-spacing: 1px;                                                                                    
  word-spacing: 5px;   
  
}

/* Footer */
footer {
  text-align: center;
  font-weight: 500;
  background-color: rgba(142, 172, 205, 0.7);
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 1s;
}

